#controls{
    width: 100%;
    margin: 0 auto;
    height: 100px;
    padding: 20px;
    border-top: 4px solid #555555;
    border-bottom: 4px solid #555555;
    background-color: lightgrey;
}

.sketch-control-selector {
    display: inline-block;
    margin-right: 20px;
    width: 210px;
    height: 100px;
    text-align: center;
    cursor: hand;
}

#control-properties-modal {
    width: 300px;
    text-align: left;
    background: #ffffff;
    color: #555555;
    position: absolute;
    border: 4px solid #555555;
    padding: 20px;
}
