<script id='ButtonControl-property-template' type='text/ractive'>
 <div class='form-group properties' data-control-id='{{controlId}}'>
     <label>Label</label>
     <input type="text" class="property" id="buttonLabel" value="{{button_label}}">
     <label>Background Color</label>
     <input type="text" class="property color-property" value="{{bgcolor}}">
     <label>Color</label>
     <input type="text" class="property color-property" value="{{color}}">
     <label>Size</label>
     <select class="property" data-value="size">
        <option value="btn-xs">Extra Small</option>
        <option value="btn-sm">Small</option>
        <option value="">Default</option>
        <option value="btn-lg">Large</option>
     </select>
     <label>Width</label>
     <input type="number" class="property" value="{{width}}" min="10" max="1500"/>
 </div>

</script>
