<script id='ButtongroupControl-property-template' type='text/ractive'>
 <div class='form-group properties' data-control-id='{{controlId}}'>
  <label>Width</label>
     <div class="property slider-property" data-key="width" data-min="50" data-max="165"></div>
     <label>Items</label>
     <textarea class="property" id="dropdown-items" rows="4" cols="50"></textarea>
     <label>Background Color</label>
     <input type="text" class="property color-property" value="{{bg_color}}"/>
     <label>Color</label>
     <input type="text" class="property color-property" value="{{color}}"/>
 </div>
</script>
