<script id='ButtonControl-property-template' type='text/ractive'>
 <div class='form-group properties' data-control-id='{{controlId}}'>
   <label>Label</label>
     <input type="text" class="property" id="buttonLabel" value="{{button_label}}">
     <label>Background Color</label>
     <input type="text" class="property color-property" value="{{bgcolor}}">
     <label>Color</label>
     <input type="text" class="property color-property" value="{{color}}">
     <label>Width</label>
     <input type="number" class="property" value="{{width}}" min="10" max="1500"/>
 </div>
</script>
