<script id='ChatBubbleControl-property-template' type='text/ractive'>
<div class='form-group properties' data-control-id='{{controlId}}'>
    <label>Caption</label>
    <input type="text" class="property" id="buttonLabel" value="{{caption}}"/>
    <label>Background Color</label>
    <input type="text" class="property color-property" value="{{bg_color}}"/>

    <label>Text Color</label>
    <input type="text" class="property color-property" value="{{text_color}}"/>

    <label>Right Bubble</label>
    <input type="checkbox" class="property" checked="{{right_bubble}}"/><br/>


    <label>Pointer on Top</label>
    <input type="checkbox" class="property" checked="{{top_pointer}}"/>

</div>


</script>
