<script id='DropdownControl-property-template' type='text/ractive'>
 <div class='form-group properties' data-control-id='{{controlId}}'>
   <label>Dropdowns</label>
    <textarea class="property" id="dropdown-items" rows="4" cols="50"></textarea>
    <label>Dropdown Type</label>
    <select class="property" id="dropdown-type" data-value="dropdownType">
        <option value="">Close</option>
        <option value="open">Open</option>
    </select>
    <label>Width</label>
     <input type="number" class="property" value="{{width}}" min="10" max="1500"/>
    <label>Background Color</label>
     <input type="text" class="property color-property" value="{{bgcolor}}">
    <label>Color</label>
     <input type="text" class="property color-property" value="{{color}}">
 </div>
</script>
