<script id='IconControl-property-template' type='text/ractive'>
 <div class='form-group properties' data-control-id='{{controlId}}'>
   <label>Size</label>
   <input type="number" class="property" value="{{font_size}}" min="30" max="308"/>
   <label>Color</label>
   <input type="text" class="property color-property" value="{{color}}">
   <div class='control' style="font-size: 30px">
     <ul id="icons">
     <p></p>
     <label style="font-size: 15px">Navigation Icons</label> <br/>
     <li class="ion-arrow-up-a"></li>
     <li class="ion-arrow-right-a"></li>
     <li class="ion-arrow-down-a"></li>
     <li class="ion-arrow-left-a"></li>
     <li class="ion-arrow-up-b"></li>
     <li class="ion-arrow-right-b"></li>
     <li class="ion-arrow-down-b"></li>
     <li class="ion-arrow-left-b"></li>
     <li class="ion-arrow-up-c"></li>
     <li class="ion-arrow-right-c"></li>
     <li class="ion-arrow-down-c"></li>
     <li class="ion-arrow-left-c"></li>
     <li class="ion-arrow-return-right"></li>
     <li class="ion-arrow-return-left"></li>
     <li class="ion-arrow-swap"></li>
     <li class="ion-arrow-shrink"></li>
     <li class="ion-arrow-expand"></li>
     <li class="ion-arrow-move"></li>
     <li class="ion-arrow-resize"></li>
     <li class="ion-chevron-up"></li>
     <li class="ion-chevron-right"></li>
     <li class="ion-chevron-down"></li>
     <li class="ion-chevron-left"></li>
     <li class="ion-navicon-round"></li>
     <li class="ion-navicon"></li>
     <li class="ion-drag"></li>
     <li class="ion-log-in"></li>
     <li class="ion-log-out"></li>
     <li class="ion-checkmark-round"></li>
     <li class="ion-checkmark"></li>
     <li class="ion-checkmark-circled"></li>
     <li class="ion-close-round"></li>
     <li class="ion-close"></li>
     <li class="ion-close-circled"></li>
     <li class="ion-plus-round"></li>
     <li class="ion-plus"></li>
     <li class="ion-plus-circled"></li>
     <li class="ion-minus-round"></li>
     <li class="ion-minus"></li>
     <li class="ion-minus-circled"></li>
     <li class="ion-information"></li>
     <li class="ion-information-circled"></li>
     <li class="ion-help"></li>
     <li class="ion-help-circled"></li>
     <li class="ion-help-buoy"></li>
     <li class="ion-alert"></li>
     <li class="ion-alert-circled"></li>
     <li class="ion-refresh"></li>
     <li class="ion-refreshing"></li>
     <li class="ion-loop"></li>
     <li class="ion-looping"></li>
     <li class="ion-shuffle"></li>
     <li class="ion-home"></li>
     <li class="ion-search"></li>
     <li class="ion-flag"></li>
     <li class="ion-star"></li>
     <li class="ion-heart"></li>

     <p></p>
     <label style="font-size: 15px">Configuration Icons</label> <br/>
     <li class="ion-gear-a"></li>
     <li class="ion-gear-b"></li>
     <li class="ion-settings"></li>
     <li class="ion-wrench"></li>
     <li class="ion-hammer"></li>
     <li class="ion-edit"></li>
     <li class="ion-trash-a"></li>
     <li class="ion-trash-b"></li>
     <li class="ion-document"></li>
     <li class="ion-document-text"></li>
     <li class="ion-clipboard"></li>
     <li class="ion-bookmark"></li>
     <li class="ion-email"></li>
     <li class="ion-folder"></li>
     <li class="ion-filing"></li>
     <li class="ion-archive"></li>
     <li class="ion-reply"></li>
     <li class="ion-reply-all"></li>
     <li class="ion-forward"></li>
     <!--<li class="ion- " outbound"></li>-->
     <li class="ion-paper-airplane"></li>
     <li class="ion-link"></li>
     <li class="ion-paperclip"></li>
     <li class="ion-compose"></li>
     <li class="ion-briefcase"></li>
     <li class="ion-medkit"></li>
     <li class="ion-at"></li>
     <li class="ion-pound" ></li>
     <li class="ion-cloud"></li>
     <li class="ion-upload"></li>
     <li class="ion-more"></li>
     <li class="ion-grid"></li>
     <li class="ion-calendar"></li>
     <li class="ion-clock"></li>
     <li class="ion-compass" ></li>
     <li class="ion-pinpoint" ></li>
     <li class="ion-pin"></li>
     <li class="ion-navigate"></li>
     <li class="ion-location"></li>
     <li class="ion-map"></li>
     <li class="ion-model-s"></li>
     <li class="ion-locked"></li>
     <li class="ion-unlocked"></li>
     <li class="ion-key" ></li>
     <li class="ion-arrow-graph-up-right"></li>
     <li class="ion-arrow-graph-down-right"></li>
     <li class="ion-arrow-graph-up-left"></li>
     <li class="ion-arrow-graph-down-left"></li>
     <!--<li class=ion-stats-doijsu "" ></li>-->
     <!--<li class="ion-connection- "></li>-->
     <li class="ion-pie-graph"></li>
     <li class="ion-chatbubble"></li>
     <li class="ion-chatbubble-working" ></li>
     <li class="ion-chatbubbles"></li>
     <li class="ion-chatbox"></li>
     <li class="ion-chatbox-working" ></li>
     <li class="ion-chatboxes"></li>
     <li class="ion-person"></li>
     <li class="ion-person-add"></li>
     <li class="ion-person-stalker"></li>
     <li class="ion-woman"></li>
     <li class="ion-man"></li>
     <li class="ion-female"></li>
     <li class="ion-male"></li>
     <li class="ion-fork"></li>
     <li class="ion-knife"></li>
     <li class="ion-spoon"></li>
     <li class="ion-beer"></li>
     <li class="ion-wineglass"></li>
     <li class="ion-coffee"></li>
     <li class="ion-icecream"></li>
     <li class="ion-pizza"></li>
     <li class="ion-power"></li>
     <li class="ion-battery-full"></li>
     <li class="ion-battery-half"></li>
     <li class="ion-battery-low"></li>
     <li class="ion-battery-empty"></li>
     <li class="ion-battery-charging"></li>
     <li class="ion-wifi"></li>
     <li class="ion-bluetooth"></li>
     <li class="ion-calculator" ></li>
     <li class="ion-camera"></li>
     <li class="ion-eye"></li>
     <li class="ion-eye-disabled"></li>
     <li class="ion-flash"></li>
     <li class="ion-flash-off"></li>
     <li class="ion-image"></li>
     <li class="ion-images"></li>
     <li class="ion-contrast"></li>
     <li class="ion-monitor"></li>
     <li class="ion-laptop"></li>
     <li class="ion-ipad"></li>
     <li class="ion-iphone"></li>
     <li class="ion-ipod"></li>
     <li class="ion-printer"></li>
     <li class="ion-usb"></li>

     <p><!-- end  icons pack --></p>

     <label style="font-size: 15px">IOS 7-style icons pack</label> <br/>

     <li class="ion-ios7-ionic-outline"></li>
     <li class="ion-ios7-arrow-back"></li>
     <li class="ion-ios7-arrow-forward"></li>
     <li class="ion-ios7-arrow-up"></li>
     <li class="ion-ios7-arrow-right"></li>
     <li class="ion-ios7-arrow-down" ></li>
     <li class="ion-ios7-arrow-left" ></li>
     <li class="ion-ios7-arrow-thin-up" ></li>
     <li class="ion-ios7-arrow-thin-right" ></li>
     <li class="ion-ios7-arrow-thin-down" ></li>
     <li class="ion-ios7-arrow-thin-left" ></li>
     <li class="ion-ios7-circle-filled"></li>
     <li class="ion-ios7-circle-outline"></li>
     <li class="ion-ios7-checkmark-empty"></li>
     <li class="ion-ios7-checkmark-outline"></li>
     <li class="ion-ios7-checkmark" ></li>
     <li class="ion-ios7-plus-empty"></li>
     <li class="ion-ios7-plus-outline"></li>
     <li class="ion-ios7-plus"></li>
     <li class="ion-ios7-close-empty"></li>
     <li class="ion-ios7-close-outline"></li>
     <li class="ion-ios7-close"></li>
     <li class="ion-ios7-minus-empty"></li>
     <li class="ion-ios7-minus-outline"></li>
     <li class="ion-ios7-minus"></li>
     <li class="ion-ios7-information-empty"></li>
     <li class="ion-ios7-information-outline"></li>
     <li class="ion-ios7-information"></li>
     <li class="ion-ios7-help-empty"></li>
     <li class="ion-ios7-help-outline"></li>
     <li class="ion-ios7-help"></li>
     <li class="ion-ios7-search"></li>
     <li class="ion-ios7-search-strong"></li>
     <li class="ion-ios7-star"></li>
     <li class="ion-ios7-star-outline"></li>
     <li class="ion-ios7-heart"></li>
     <li class="ion-ios7-heart-outline"></li>
     <li class="ion-ios7-more"></li>
     <li class="ion-ios7-more-outline"></li>
     <li class="ion-ios7-cloud"></li>
     <li class="ion-ios7-cloud-outline"></li>
     <li class="ion-ios7-cloud-upload"  ></li>
     <li class="ion-ios7-cloud-upload-outline"  ></li>
     <li class="ion-ios7-cloud-download"  ></li>
     <li class="ion-ios7-cloud-download-outline"  ></li>
     <li class="ion-ios7-upload"></li>
     <li class="ion-ios7-upload-outline"></li>
     <li class="ion-ios7-download"></li>
     <li class="ion-ios7-download-outline"></li>
     <li class="ion-ios7-refresh-outline"></li>
     <li class="ion-ios7-refresh"></li>
     <li class="ion-ios7-refresh-empty"></li>
     <li class="ion-ios7-reload"></li>
     <li class="ion-ios7-reloading"></li>
     <li class="ion-ios7-bookmarks"></li>
     <li class="ion-ios7-bookmarks-outline"></li>
     <li class="ion-ios7-flag"></li>
     <li class="ion-ios7-flag-outline"></li>
     <li class="ion-ios7-glasses"  steve></li>
     <li class="ion-ios7-glasses-outline"></li>
     <li class="ion-ios7-browsers"></li>
     <li class="ion-ios7-browsers-outline" ></li>
     <li class="ion-ios7-at"></li>
     <li class="ion-ios7-at-outline"></li>
     <li class="ion-ios7-cart"></li>
     <li class="ion-ios7-cart-outline"></li>
     <li class="ion-ios7-pricetag"></li>
     <li class="ion-ios7-pricetag-outline"></li>
     <li class="ion-ios7-chatboxes-outline"></li>
     <li class="ion-ios7-chatbubble"></li>
     <li class="ion-ios7-chatbubble-outline"></li>
     <li class="ion-ios7-cog"></li>
     <li class="ion-ios7-cog-outline"></li>
     <li class="ion-ios7-gear"></li>
     <li class="ion-ios7-gear-outline"></li>
     <li class="ion-ios7-pie"></li>
     <li class="ion-ios7-pie-outline"></li>
     <li class="ion-ios7-filing"></li>
     <li class="ion-ios7-filing-outline"></li>
     <li class="ion-ios7-box"></li>
     <li class="ion-ios7-box-outline"></li>
     <li class="ion-ios7-compose"></li>
     <li class="ion-ios7-compose-outline"></li>
     <li class="ion-ios7-trash"></li>
     <li class="ion-ios7-trash-outline"></li>
     <li class="ion-ios7-copy"></li>
     <li class="ion-ios7-copy-outline"></li>
     <li class="ion-ios7-email"></li>
     <li class="ion-ios7-email-outline"></li>
     <li class="ion-ios7-undo"></li>
     <li class="ion-ios7-undo-outline"></li>
     <li class="ion-ios7-redo"></li>
     <li class="ion-ios7-redo-outline"></li>
     <li class="ion-ios7-paperplane"></li>
     <li class="ion-ios7-paperplane-outline"></li>
     <li class="ion-ios7-folder"></li>
     <li class="ion-ios7-folder-outline"></li>
     <li class="ion-ios7-world"></li>
     <li class="ion-ios7-world-outline"></li>
     <li class="ion-ios7-alarm"></li>
     <li class="ion-ios7-alarm-outline"></li>
     <li class="ion-ios7-speedometer"></li>
     <li class="ion-ios7-speedometer-outline"></li>
     <li class="ion-ios7-stopwatch"></li>
     <li class="ion-ios7-stopwatch-outline"></li>
     <li class="ion-ios7-timer"></li>
     <li class="ion-ios7-timer-outline"></li>
     <li class="ion-ios7-clock"></li>
     <li class="ion-ios7-clock-outline"></li>
     <li class="ion-ios7-time"></li>
     <li class="ion-ios7-time-outline"></li>
     <li class="ion-ios7-calendar"></li>
     <li class="ion-ios7-calendar-outline"></li>
     <li class="ion-ios7-photos"></li>
     <li class="ion-ios7-photos-outline"></li>
     <li class="ion-ios7-albums"></li>
     <li class="ion-ios7-albums-outline"></li>
     <li class="ion-ios7-camera"></li>
     <li class="ion-ios7-camera-outline"></li>
     <li class="ion-ios7-eye"></li>
     <li class="ion-ios7-eye-outline"></li>
     <li class="ion-ios7-bolt"></li>
     <li class="ion-ios7-bolt-outline"></li>
     <li class="ion-ios7-briefcase"></li>
     <li class="ion-ios7-briefcase-outline"></li>
     <li class="ion-ios7-medkit"></li>
     <li class="ion-ios7-medkit-outline"></li>
     <li class="ion-ios7-infinite"></li>
     <li class="ion-ios7-infinite-outline"></li>
     <li class="ion-ios7-calculator"></li>
     <li class="ion-ios7-calculator-outline"></li>
     <li class="ion-ios7-keypad"></li>
     <li class="ion-ios7-keypad-outline"></li>
     <li class="ion-ios7-telephone"></li>
     <li class="ion-ios7-telephone-outline"></li>
     <li class="ion-ios7-drag"></li>
     <li class="ion-ios7-location"></li>
     <li class="ion-ios7-location-outline"></li>
     <li class="ion-ios7-navigate"></li>
     <li class="ion-ios7-navigate-outline"></li>
     <li class="ion-ios7-locked"></li>
     <li class="ion-ios7-locked-outline"></li>
     <li class="ion-ios7-unlocked"></li>
     <li class="ion-ios7-unlocked-outline"></li>
     <li class="ion-ios7-monitor"></li>
     <li class="ion-ios7-monitor-outline"></li>
     <li class="ion-ios7-printer"></li>
     <li class="ion-ios7-printer-outline"></li>
     <li class="ion-ios7-person"></li>
     <li class="ion-ios7-person-outline"></li>
     <li class="ion-ios7-personadd"></li>
     <li class="ion-ios7-personadd-outline"></li>
     <li class="ion-ios7-people"></li>
     <li class="ion-ios7-people-outline"></li>
     <li class="ion-ios7-sunny"></li>
     <li class="ion-ios7-sunny-outline"></li>
     <li class="ion-ios7-partlysunny"></li>
     <li class="ion-ios7-partlysunny-outline"></li>
     <li class="ion-ios7-cloudy"></li>
     <li class="ion-ios7-cloudy-outline"></li>
     <li class="ion-ios7-rainy"></li>
     <li class="ion-ios7-rainy-outline"></li>
     <li class="ion-ios7-thunderstorm"></li>
     <li class="ion-ios7-thunderstorm-outline"></li>
     <li class="ion-ios7-snowy"></li>
     <li class="ion-ios7-moon"></li>
     <li class="ion-ios7-moon-outline"></li>
     <li class="ion-ios7-cloudy-night"></li>
     <li class="ion-ios7-cloudy-night-outline"></li>
     <li class="ion-ios7-musical-notes"></li>
     <li class="ion-ios7-musical-note"></li>
     <li class="ion-ios7-bell"></li>
     <li class="ion-ios7-bell-outline"></li>
     <li class="ion-ios7-mic"></li>
     <li class="ion-ios7-mic-outline"></li>
     <li class="ion-ios7-mic-off"></li>
     <li class="ion-ios7-volume-high"></li>
     <li class="ion-ios7-volume-low"></li>
     <li class="ion-ios7-play"></li>
     <li class="ion-ios7-play-outline"></li>
     <li class="ion-ios7-pause"></li>
     <li class="ion-ios7-pause-outline"></li>
     <li class="ion-ios7-recording"></li>
     <li class="ion-ios7-recording-outline"></li>
     <li class="ion-ios7-fastforward"></li>
     <li class="ion-ios7-fastforward-outline"></li>
     <li class="ion-ios7-rewind"></li>
     <li class="ion-ios7-rewind-outline"></li>
     <li class="ion-ios7-skipbackward"></li>
     <li class="ion-ios7-skipbackward-outline"></li>
     <li class="ion-ios7-skipforward"></li>
     <li class="ion-ios7-skipforward-outline"></li>
     <li class="ion-ios7-videocam"></li>
     <li class="ion-ios7-videocam-outline"></li>
     <li class="ion-ios7-film"></li>
     <li class="ion-ios7-film-outline"></li>
     <li class="ion-ios7-lightbulb"></li>
     <li class="ion-ios7-lightbulb-outline"></li>
     <li class="ion-ios7-wineglass"></li>
     <li class="ion-ios7-wineglass-outline"></li>

     <p><!-- end iOS 7-style icons pack --></p>

     <label style="font-size: 15px">Android-style icons pack</label> <br/>

     <li class="ion-android-system-back"></li>
     <li class="ion-android-system-home"></li>
     <li class="ion-android-system-windows"></li>
     <li class="ion-android-wifi"></li>
     <li class="ion-android-battery"></li>
     <!--<li class="ion-android-" "hiug></li>-->
     <li class="ion-android-keypad"></li>
     <!--<li class="ion-android-></li>-->
     <li class="ion-android-arrow-back"></li>
     <li class="ion-android-arrow-up-right"></li>
     <li class="ion-android-arrow-down-right"></li>
     <li class="ion-android-arrow-down-left"></li>
     <li class="ion-android-arrow-up-left"></li>
     <li class="ion-android-sort"></li>
     <li class="ion-android-dropdown"></li>
     <li class="ion-android-settings"></li>
     <li class="ion-android-mixer"></li>
     <li class="ion-android-display"></li>
     <li class="ion-android-star"></li>
     <li class="ion-android-search"></li>
     <li class="ion-android-microphone"></li>
     <li class="ion-android-more"></li>
     <li class="ion-android-checkmark"></li>
     <li class="ion-android-information"></li>
     <li class="ion-android-add"></li>
     <li class="ion-android-remove"></li>
     <li class="ion-android-close"></li>
     <li class="ion-android-trash"></li>
     <li class="ion-android-volume"></li>
     <li class="ion-android-printer"></li>
     <li class="ion-android-download"></li>
     <li class="ion-android-hand"></li>
     <li class="ion-android-developer"></li>
     <li class="ion-android-calendar"></li>
     <li class="ion-android-clock"></li>
     <li class="ion-android-alarm"></li>
     <li class="ion-android-stopwatch"></li>
     <li class="ion-android-data"></li>
     <li class="ion-android-timer"></li>
     <li class="ion-android-camera"></li>
     <li class="ion-android-image"></li>
     <li class="ion-android-location"></li>
     <li class="ion-android-locate"></li>
     <li class="ion-android-earth"></li>
     <li class="ion-android-book"></li>
     <li class="ion-android-note"></li>
     <li class="ion-android-promotion"></li>
     <li class="ion-android-playstore"></li>
     <!--<li class="ion-android-" "></li>-->
     <li class="ion-android-send"></li>
     <li class="ion-android-mail"></li>
     <li class="ion-android-inbox"></li>
     <li class="ion-android-archive"></li>
     <li class="ion-android-folder"></li>
     <li class="ion-android-forums"></li>
     <li class="ion-android-chat"></li>
     <li class="ion-android-contact"></li>
     <li class="ion-android-contacts"></li>
     <li class="ion-android-friends"></li>
     <li class="ion-android-add-contact"></li>
     <li class="ion-android-social-user"></li>
     <li class="ion-android-social"></li>
     <li class="ion-android-reminder"></li>
     <li class="ion-android-lightbulb"></li>

     <p><!-- end Android-style icons pack --></p>
     <label style="font-size: 15px">Social Networking</label> <br/>
     <li class="ion-social-twitter"></li>
     <li class="ion-social-twitter-outline"></li>
     <li class="ion-social-facebook" ></li>
     <li class="ion-social-facebook-outline"></li>
     <li class="ion-social-googleplus"></li>
     <li class="ion-social-googleplus-outline"></li>
     <li class="ion-social-dribbble"></li>
     <li class="ion-social-dribbble-outline"></li>
     <li class="ion-social-github"></li>
     <li class="ion-social-github-outline"></li>
     <li class="ion-social-pinterest"></li>
     <li class="ion-social-pinterest-outline"></li>
     <li class="ion-social-rss"></li>
     <li class="ion-social-rss-outline"></li>
     <li class="ion-social-tumblr"></li>
     <li class="ion-social-tumblr-outline"></li>
     <li class="ion-social-wordpress"></li>
     <li class="ion-social-wordpress-outline"></li>
     <li class="ion-social-reddit"></li>
     <li class="ion-social-reddit-outline"></li>
     <li class="ion-social-hackernews"></li>
     <li class="ion-social-hackernews-outline"></li>
     <li class="ion-social-designernews"></li>
     <li class="ion-social-designernews-outline"></li>
     <li class="ion-social-yahoo"></li>
     <li class="ion-social-yahoo-outline"></li>
     <li class="ion-social-buffer"></li>
     <li class="ion-social-buffer-outline"></li>
     <li class="ion-social-skype"> </li>
     <li class="ion-social-skype-outline"> </li>
     <li class="ion-social-linkedin"></li>
     <li class="ion-social-linkedin-outline"> </li>
     <li class="ion-social-bitcoin"></li>
     <li class="ion-social-bitcoin-outline"></li>
     <li class="ion-social-vimeo"></li>
     <li class="ion-social-vimeo-outline"></li>
     <li class="ion-social-youtube"></li>
     <li class="ion-social-youtube-outline"></li>
     <li class="ion-social-dropbox"></li>
     <li class="ion-social-dropbox-outline"></li>
     <li class="ion-social- social"></li>
     <p></p>
     <label style="font-size: 15px">Operating System</label>
     <br/>
     <li class="ion-social-apple"></li>
     <li class="ion-social-apple-outline"></li>
     <li class="ion-social-android-outline"></li>
     <li class="ion-social-windows"></li>
     <li class="ion-social-windows-outline"></li>
     <li class="ion-social-tux"></li>
     <li class="ion-social-freebsd-devil"></li>

     <p></p>
     <label style="font-size: 15px">Other General Icons</label> <br/>
     <li class="ion-bug"></li>
     <li class="ion-code"></li>
     <li class="ion-code-working"></li>
     <li class="ion-code-download"></li>
     <li class="ion-fork-repo"></li>
     <li class="ion-game-controller-a"></li>
     <li class="ion-game-controller-b"></li>
     <li class="ion-xbox"></li>
     <li class="ion-playstation"></li>
     <li class="ion-videocamera" ></li>
     <li class="ion-film-marker"></li>
     <li class="ion-disc"></li>
     <li class="ion-headphone"></li>
     <li class="ion-music-note"></li>
     <li class="ion-radio-waves"></li>
     <li class="ion-speakerphone"></li>
     <li class="ion-mic-a"></li>
     <li class="ion-mic-b"></li>
     <li class="ion-mic-c"></li>
     <li class="ion-volume-high"></li>
     <li class="ion-volume-medium"></li>
     <li class="ion-volume-low"></li>
     <li class="ion-volume-mute"></li>
     <li class="ion-levels"></li>
     <li class="ion-play"></li>
     <li class="ion-pause"></li>
     <li class="ion-stop"></li>
     <li class="ion-record"></li>
     <li class="ion-skip-forward"></li>
     <li class="ion-skip-backward"></li>
     <li class="ion-eject"></li>
     <li class="ion-bag"></li>
     <li class="ion-card"></li>
     <li class="ion-pricetag"></li>
     <li class="ion-pricetags"></li>
     <li class="ion-thumbsup"></li>
     <li class="ion-thumbsdown"></li>
     <li class="ion-magnet"></li>
     <li class="ion-beaker"></li>
     <li class="ion-flask"></li>
     <li class="ion-egg"></li>
     <li class="ion-earth"></li>
     <li class="ion-lightbulb"></li>
     <li class="ion-leaf"></li>
     <li class="ion-waterdrop"></li>
     <li class="ion-umbrella"></li>
     <li class="ion-nuclear"></li>
     <li class="ion-no-smoking"></li>
     <li class="ion-thermometer"></li>
     <li class="ion-speedometer"></li>
     <li class="ion-plane"></li>
     <li class="ion-jet"></li>
     <li class="ion-load-a"></li>
     <li class="ion-loading-a"></li>
     <li class="ion-load-b"></li>
     <li class="ion-loading-b"></li>
     <li class="ion-load-c"></li>
     <li class="ion-loading-c"></li>
     <li class="ion-load-d"></li>
     <li class="ion-loading-d"></li>

     <br/>
     <br/>
     </ul>
   </div>
 </div>
</script>
