
<script id='LabelControl-property-template' type='text/ractive'>
   <div class='form-group properties' data-control-id='{{controlId}}'>
    <label>Label</label>
    <input type="text" class="property" value="{{label}}">
    <label>Color</label>
    <input type="text" class="property color-property" value="{{color}}">
    <label>Size</label>
    <input type="number" class="property" value="{{size}}" min="10" max="120"/>
    <label>Font Family</label>
    <select class="property font-property" data-key="font"></select>
 </div>
</script>
