
<script id='LabelControl-property-template' type='text/ractive'>
   <div class='form-group properties' data-control-id='{{controlId}}'>
   <div id="label_group" style="display:none;">
    <label>Label</label>
    <input type="text" class="property" id="label_value" value="{{label_value}}">
   </div>
    <label>Text</label>
    <input type="text" class="property" id="text_value" value="{{text_value}}">
    <label>Type</label>
    <select id="label-type">
        <option value="placeholder">Placeholder</option>
        <option value="inline">Inline</option>
        <option value="stacked">Stacked</option>
    </select>
 </div>
</script>
