<script id='LineControl-property-template' type='text/ractive'>
 <div class='form-group properties' data-control-id='{{controlId}}'>
     <label>Size</label>
     <div class="property slider-property" data-key="size" data-min="1" data-max="20"></div>
     <label>Color</label>
     <input type="text" class="property color-property" value="{{color}}">
     <label>Width</label>
     <div class="property slider-property" data-key="width" data-min="10" data-max="320"></div>
     <label>Angle</label>
     <div class="property slider-property" data-key="angle" data-min="0" data-max="360"></div>
 </div>
</script>
