<script id='ProgressBarControl-property-template' type='text/ractive'>
 <div class='form-group properties' data-control-id='{{controlId}}'>
     
     <label>Alert Type</label>
    <select id="progressbar-type">
        <option value="success">Success</option>
        <option value="info">Info</option>
        <option value="warning">Warning</option>
        <option value="danger">Error</option>
    </select>
	<label>Width</label>
    <input type="text" class="property" value="{{width}}">
    <label>Percent</label>
    <input type="text" class="property" value="{{percent}}">

 </div>
</script>
