<script id='TextboxControl-property-template' type='text/ractive'>
 <div class='form-group properties' data-control-id='{{controlId}}'>
    <label>Placeholder</label>
     <input type="text" class="property" value="{{place_holder}}">
     <label>Width</label>
     <div class="property slider-property" data-key="width" data-min="10" data-max="300"></div>
     <label>Height</label>
     <div class="property slider-property" data-key="height" data-min="10" data-max="200"></div>
     <label>Font Family</label>
     <select class="property font-property" data-key="font"></select>
 </div>
</script>
