<script id='TextboxControl-property-template' type='text/ractive'>
 <div class='form-group properties' data-control-id='{{controlId}}'>
    <label>Placeholder</label>
     <input type="text" class="property" value="{{place_holder}}">
     <label>Width</label>
     <input type="number" class="property" value="{{width}}" min="10" max="308"/>
     <label>Height</label>
     <input type="number" class="property" value="{{height}}" min="10" max="556"/>
     <label>Font Family</label>
     <select class="property font-property" data-key="font"></select>
 </div>
</script>
