<script id='TextControl-property-template' type='text/ractive'>
 <div class='form-group properties' data-control-id='{{controlId}}'>
     <label>Free Text</label>
     <textarea class="property" id="free-text" rows="4" cols="50">{{caption}}</textarea>
     <label>Width</label>
     <input type="number" class="property" value="{{width}}" min="10" max="1500"/>
     <label>Height</label>
     <input type="number" class="property" value="{{height}}" min="10" max="1500"/>
     <label>Color</label>
     <input type="text" class="property color-property" value="{{color}}">
   </div>
</script>
