<script id='ToggleControl-property-template' type='text/ractive'>
 <div class='form-group properties' data-control-id='{{controlId}}'>
     <label>Width</label>
     <div class="property slider-property" data-key="width" data-min="100" data-max="300"></div>
     <label>Items</label>
     <textarea class="property" id="dropdown-items" rows="4" cols="50"></textarea>
     <label>On Color</label>
     <input type="text" class="property color-property" value="{{on_color}}"/>
     <label>Off Color</label>
     <input type="text" class="property color-property" value="{{off_color}}"/>
 </div>
</script>
