<script id='VerticalMenuControl-property-template' type='text/ractive'>
 <div class='form-group properties' data-control-id='{{controlId}}'>
     <label>Menu Items</label>
     <textarea class="property" id="menu-items" rows="4" cols="50" value={{itemsString}}></textarea>
     <label>Width</label>
     <input type="number" class="property" value="{{width}}" min="10" max="1500"/>
     <label>Color</label>
     <input type="text" class="property color-property" value="{{color}}">
     <label>Active Background Color</label>
     <input type="text" class="property color-property" value="{{bgcolor}}">
 </div>
</script>
