<li>
    <label>Button</label>
    <a href="#" class="ButtonControl" data-metadata-id="ButtonControl"></a>
</li>
<li>
    <label>Textfield</label>
    <a href='#' class="TextboxControl" data-metadata-id='TextboxControl'></a>
</li>
<li>
    <label>Headings</label>
    <a href="#" class="HeadingControl" data-metadata-id="HeadingControl"></a>
</li>
<li><a href="#" data-metadata-id="ButtonGroupControl">Button Group</a></li>
<li><a href="#" data-metadata-id="PaginationControl">Pagination</a></li>
<li><a href='#' data-metadata-id='NavbarControl'>Navigation Bar</a></li>
