<%
    CONTROLS.each do |control|
%>
    <li>
      <label><%= control[1]["display_name"]%></label>
      <a href="javascript:void(0)" class="<%=control[0]%>" data-metadata-id="<%=control[0]%>"></a>
    </li>
<%
    end
%>