<script id='TabControl-control-template' type='text/ractive'>
  <div class='control' data-control-id='{{controlId}}' data-metadata-id='TabControl'>
    <div style="width: {{width}}px; height: {{height}}px;">
      <ul id="myTab" class="nav nav-tabs">
        {{#items}}
          <li class="{{#active}}active{{/active}}">
            <a href="#{{index}}" data-toggle="tab">{{item}}</a>
          </li>
         {{/items}}
      </ul>
      <div  id="myTabContent" class="tab-content">
        {{#items}}
            <div class="tab-pane fade" id="{{index}}">
            </div>
        {{/items}}
      </div>
    </div>
  </div>
</script>