#controls-container li a.HeadingControl {
    width: 200px;
    height: 33px;
    background: image-url("controls/headingControl.png");
    background-size:contain;
    background-repeat:no-repeat;

}