#controls-container li a.RangeControl {
  width: 200px;
  height: 50px;
  background:  image-url('controls/RangeControl.png');
  background-size:contain;
  background-repeat:no-repeat;
  input[type="range"]::-webkit-slider-thumb:before {
    background: #1bbd1c;
  }
}

.range{
  max-width: 320px;
  min-width: 100px;
}