#controls-container li a.TextboxControl {
    width: 200px;
    height: 50px;
    background: image-url('controls/textboxControl.png');
    background-size:contain;
    background-repeat:no-repeat;

}