/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset/reset.css
 *= require_self
 *= require_tree .
 *= require bootstrap/bootstrap.min.css
 *= require bootstrap/bootstrap-theme.min.css
 *= require jquery/jquery.mCustomScrollbar.css
 *= require sidr/jquery.sidr.light.css
 *= require jquery/jquery-ui-1.10.3.custom.min.css
 */

body{
    margin: 0;
}

#header {
    height: 50px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

#header .branding{
    font-size: 20px;
    display: inline-block;
    margin-top: 15px;
}

#toolbox-link{
    background:  image-url('open.png') center center no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    color: #ffffff;
    border: none;
    padding: 0;
}

#property-window-link{
    margin-top: 10px;
    float: right;
    margin-right: 20px;
    color: #ffffff;
    background-color: #dd514c;
    border: none;
    font-size: 15px;
}

#toolbox-left {
    box-shadow: none;
    overflow-y: inherit;

    #controls-container{
      padding-bottom: 150px;
    }
}

#toolbox-left ul.toolbox-tab{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
}

#toolbox-left ul.toolbox-tab li{
    display: inline-block;
    width: 49%;
    text-align: center;
    background-color: #3b8bba;
    border: none;
    opacity: 0.5;
}

#toolbox-left ul.toolbox-tab li.active{
    opacity: 1;
}

#toolbox-left ul.toolbox-tab li a, #toolbox-left ul.toolbox-tab li a:hover{
    box-shadow: none;
}
