body{
    background-color: #464646 !important;
}

#toolbox {
    padding: 25px;
    position: relative;
}

#properties-container {
    padding: 15px;
}

input.property, select.property, textarea.property {
    height: 30px !important;
    background-color: #ffffff !important;
    color: #000000 !important;
}

#controls-container ul li{
    padding-bottom: 10px;
}

#controls-container ul li a{
    margin: auto;
}

#controls-container ul li a:hover{
    box-shadow: none;
}


#controls-container ul li label{
    margin-left: 10px;
    margin-bottom: 5px;
}


#drawing-board {
  .control{
    padding: 5px;
    &.active{
      border: 1px dashed #000;
      .actions{
        display: block;
        width: 10px;
        float: right;
        position: relative;
        height: 10px;
        margin-top: -25px;
        margin-right: -20px;

        span {
          font-size: 10px;
          font-weight: bold;
          color: red;
          cursor: default;
        }
      }

    }
    .actions{
      display: none;
    }
  }
}

/*#property-window {*/
    /*position: relative;*/
    /*width: 400px;*/
    /*height: 100%;*/
    /*background-color: #191818;*/
    /*padding: 20px;*/
    /*color: #ffffff;*/
/*}*/

/*#property-window > * {*/
    /*position: relative;*/
/*}*/

/*#property-window .handle {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*#property-window .handle:hover {*/
    /*background: #09F;*/
/*}*/

#drawing-board{
    width: 1200px;
    height: 1200px;
    box-shadow: 0 0 1em #333;
    background-color: #ffffff;
    margin: 25px auto;
}

#drawing-board .control * {
    cursor: move;
}

.toolbox-tab-container {
  overflow-y: scroll;
  height:100%
}

/*#controls {*/
    /*width: 100%;*/
    /*height: 86px;*/
    /*padding-top: 9px;*/
    /*border-bottom: 2px solid #555555;*/
    /*background-color: rgb(180, 180, 180);*/
/*}*/

/*#controls-wrapper {*/
    /*margin-top: 1px;*/
/*}*/

/*.sketch-control-selector {*/
    /*display: inline-block;*/
    /*margin-right: 20px;*/
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    /*height: 150px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*vertical-align: baseline;*/
/*}*/

/*.heading-1 {*/
    /*font-weight: bolder;*/
    /*font-size: 20pt;*/
    /*vertical-align: text-top;*/
/*}*/

/*#control-properties-modal {*/
    /*width: 300px;*/
    /*text-align: left;*/
    /*background: #ffffff;*/
    /*color: #555555;*/
    /*position: absolute;*/
    /*border: 4px solid #555555;*/
    /*padding: 20px;*/
/*}*/

/*.control {*/
    /*padding: 20px;*/
    /*cursor: pointer;*/
    /*display: inline-block;*/
/*}*/

/*#header{*/
    /*background-color: rgba(77, 113, 30, 1);*/
    /*position: relative;*/
    /*height: 160px;*/
    /*z-index: 1;*/

/*}*/

/*.sub-header {*/
    /*background-color: rgba(162, 155, 155, .3);*/
/*}*/

/*.full-screen-icon {*/
    /*padding-top: 20px;*/
    /*opacity: 0.5;*/
    /*padding-right: 20px;*/
    /*color: rgba(0, 0, 0, .5);*/
    /*font-size: 30px;*/
    /*z-index: 10;*/
/*}*/

/*#full-screen-bar {*/
    /*width: 100%;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-color: rgba(255, 255, 255, 0);*/
    /*z-index: 10;*/
    /*display: none;*/
    /*height: 60px;*/
/*}*/

/*.full-screen-icon:hover {*/
    /*padding-top: 17px;*/
    /*padding-right: 15px;*/
    /*color: rgba(0, 0, 0, 1);*/
    /*font-size: 35px;*/
/*}*/

/*#resize-bar {*/
    /*width: 100%;*/
    /*margin-top: -60px;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-color: rgba(255, 255, 255, 0);*/
    /*z-index: -1;*/
    /*height: 60px;*/
/*}*/

/*#title-bar {*/
    /*width: 100%;*/
    /*z-index: 10;*/
    /*border-bottom: solid 3px #bbb;*/
    /*background: rgb(243, 243, 243);*/
    /*display: block;*/
    /*height: 60px;*/
    /*line-height: 20px;*/
/*}*/

/*#title-text {*/
    /*padding-left: 20px;*/
    /*margin-top: 0px;*/
    /*opacity: .5;*/
/*}*/

/*#tagline {*/
    /*line-height: 67px;*/
    /*padding-left: 20px;*/
    /*opacity: .5;*/
/*}*/

/*.invisible {*/
    /*display: none;*/
/*}*/

/*#content {*/

/*}*/

/*.component-wrapper{*/
    /*display: inline-block;*/
/*}*/