.no-pointer-events{
  pointer-events: none;
}

#wait-loader-backdrop{
  height: 100%;
  background-color: rgba(44, 62, 80, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10000;
  pointer-events: none;
  .spinner-new {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    background-image: url(image-url('spinner.gif'));
  }
}