.preview{
  background-color: lightgray !important;
  position: static !important;
  margin-left:auto !important;
  margin-right:auto !important;

  #phone{
    margin-top: 20px;
    #drawing-board{
      box-shadow: none !important;
      background: none;
    }
  }


  #header{
    display: none !important;
  }

  #toolbox-left{
    display: none !important;
  }
}
