body{
  background-color: lightgray !important;
}

#toolbox {
  padding: 25px;
  position: relative;
}

#properties-container {
  padding: 15px;

  .slider-property{
    width: 230px;
  }
}

input.property, select.property, textarea.property{
  background-color: #ffffff !important;
  color: #000000 !important;
}

input.property, select.property{
  max-height: 30px !important;
}

#controls-container ul li{
  padding-bottom: 10px;
}

#controls-container ul li a{
  margin: auto;
}

#controls-container ul li a:hover{
  box-shadow: none;
}


#controls-container ul li label{
  margin-left: 10px;
  margin-bottom: 5px;
}

#phone{
  width: 365px;
  height: 792px;
  background: url("phone-case.png") no-repeat;
  margin: 0 auto;
  position: relative;
}



#drawing-board {
  width: 328px;
  height: 576px;
  top: 84px;
  left: 18px;
  position: absolute;
  z-index: 100;
  background-color: #ffffff;
  margin: 25px auto;

  .control{
    padding: 5px;
    &.active{
      border: 1px dashed #000;
      .actions{
        display: block;
        width: 10px;
        float: right;
        position: relative;
        height: 10px;
        margin-top: -25px;
        margin-right: -20px;

        span {
          font-size: 10px;
          font-weight: bold;
          color: red;
          cursor: default;
        }
      }

    }
    .actions{
      display: none;
    }
  }
}

.standard-color-picker{
  button{
    width: 25px;
    height: 25px;
    border: none;
    background-image: none;
    border-radius: 0;
  }
  margin-bottom: 20px;
}

body:not(.preview){
  #drawing-board .control * {
    cursor: move;
  }
}



.toolbox-tab-container {
  overflow-y: scroll;
  height:100%
}